<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header" style="text-align: center; padding: 20px;">
            <h1>Abdhu's Blog</h1>
        </div>
    </header>
    <section style="padding-left: 20px;">
        <div>
            <h2>{{posts.title}}</h2>
            <h3>{{posts.created_at}}</h3>
            <p>{{posts.body}}</p>
        </div>
    </section>
</body>
</html>