<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}       <!-- loading static -->
    <link rel="stylesheet" href="{% static 'style.css' %}">       <!-- it is the method for link the css or static files -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>How are you doing today?</h1> -->
    <!-- You can write enything here -->
    <h1>
        Hello {{name}}.<!-- Enter key here like this -->
        <br>You are {{age}} years old.<br> You are from {{place}}

    <!--  going to create a word counter. so need a texta area and a submit button -->
    <h1>Enter your text below: </h1>
    <form method="POST" action="counter">
        {% csrf_token %}           <!-- the line is becouse of the method POST -->
        <textarea name="text"rows = "30" cols="100"></textarea><br>
        <input type="submit">
    </form>
</html>