<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}       <!-- loading static -->
    <link rel="stylesheet" href="{% static 'style.css' %}">       <!-- it is the method for link the css or static files -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
       <!-- <h1>How are you doing today?</h1> -->
       <!-- You can write enything here -->
       <h1>
           Hello {{name}}.<!-- Enter key here like this -->
           <br>You are {{age}} years old.<br> You are from {{place}}
       </h1>
   
       <!--  going to create a word counter. so need a texta area and a submit button -->
       {% if user.is_authenticated %}
       <h2>Welcome, {{user.username}}</h2>
       {% else %}
       <h2>Welcome, Please login</h2>
       {% endif %}
       <h2>Enter your text below: </h2>
       <form method="POST" action="counter">
           {% csrf_token %}           <!-- the line is becouse of the method POST -->
           <textarea name="text"rows = "30" cols="100"></textarea><br>
           <input type="submit">
       </form>
    </div>
    <section>
        <!--<div>
            <hr>
            <h1>{{feature1.name}}</h1>
            <h2>{{feature1.details}}</h2>
            <hr> 
        </div>
        <div>
            <hr>
            <h1>{{feature2.name}}</h1>
            <h2>{{feature2.details}}</h2>
            <hr> 
        </div>
        <div>
            <hr>
            <h1>{{feature3.name}}</h1>
            <h2>{{feature3.details}}</h2>
            <hr> 
        </div>
        <div>
            <hr>
            <h1>{{feature4.name}}</h1>
            <h2>{{feature4.details}}</h2>
            <hr> 
        </div>-->
        {% for feature in features %}
        <div>
            <hr>
            <h1>{{feature.name}}</h1>
            <h2>{{feature.details}}</h2>
            {% if feature.is_currect == True %}
            <p>This is True</p>
            {% else %}
            <p>This is False</p>
            <hr> 
            {% endif %}
        </div>
        {% endfor %} <!-- must end the loop like this. beouse it is an html file. -->
        <ul>{% if user.is_authenticated %}
            <li><a href="logout">Logout</a></li>
            {% else %}
            <li><a href="login">Login or sign up</a></li>
            {% endif %}
        </ul>
    </section>
</body>
</html>